div{

}
button{
    padding: 15px 5px;
    background-color: red;
    border-radius: 5px;
    collor: white;
}
button:hover{
    border: 1px solid red;
    color: red;
    background-color: white;
}
.container{
    width: 800px;
    margin: 30px auto;
}
